# ios specific
.DS_Store

# packed solutions
*.zip

# taks & reports
*.pdf

# compiled 
out/
build/
bin/

# explitictly marked as local
*local.*

# class files
*.class

# intellij
.idea/

# dependencies
*.jar

Kafara_Kacper_*